html {
    font-family: 'Montserrat', sans-serif;
}


.navigation {
    background-color: #72b599;
    padding: 10px;

    align-items: center;

    font-size: 15px;
    font-weight: 500;

    /* border: red 2px solid; */
}

.navigation a {
    color: black;
    text-decoration: none;

    ;

    /* border: red 2px solid; */
}


/* ---------------------------home page---------------------------------- */


.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.home-header {
    background-color: #c4c4e0;

    width: 80%;
    height: auto;

    padding: 20px;

    font-size: 32px;
    font-weight: 600;
    text-align: center;


    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    margin-top: 60px;
}

.home-logo {
    width: 40%;
    min-width: 150px;
    height: auto;
}


.home-image {
    width: 80%;
    height: auto;

    margin-top: 16px;
}

.home-text {
    font-size: 20px;
    margin-top: 24px;
    margin-bottom:80px;
    padding: 30px;


    text-align: center;

    width: 80%;
    height: auto;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    background-color: #c4c4e0;
}



/* ----------------------------exercise page --------------------------------*/

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.exercise-heading {
    background-color: #c4c4e0;
    padding: 40px;

    width: 80%;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;


    margin-top: 80px;
    margin-bottom: 20px;

}



.card-container {
    width: 80%;
    background-color: #dfe5f3;

}




.card {
    padding: 20px;
    margin: 20px;
    text-align: center;

    border-radius: 5px;
}


.card-2 {

    background-color: #fcfcfd;
    padding: 20px;
    margin: 20px;
    text-align: center;

    border-radius: 5px;

}


.card-title {
    font-weight: 600;

    margin-bottom: 30px;
}



.bottom-part {
    background-color: #c4c4e0;
    padding: 20px;

    width: 80%;
    height: 140px;

    margin-top: 20px;
    margin-bottom: 40px;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;


}




/* ---------------------------motivation page---------------------------------- */

.custom-card {
    background-color: white;

    margin: 30px;

}


.custom-card .quote {
    color: black;
    font-size: 18px;
    margin: 20px;
}


.custom-card .challenge {
    display: none;
    margin: 20px;
    font-size: 18px;

}


.custom-card:hover .quote {
    display: none;
}

.custom-card:hover .challenge {
    background-color: ghostwhite;
    padding: 20px;
    border-radius: 10px;
    font-weight: 500;
    display: block;
}





.motivation-image {
    object-fit: cover;
}


.logo {
    width: auto;
    height: 49px;
}



.motivation-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
}


.page1-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}